@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

//Colour Palette
$darkestTurq: #0b3b4e;
$darkTurq: #0a506a;
$turq: #188a94;
$lightTurq: #65babd;
$paleBlue: #b1d9d8;
$warmWhite: #e6e5e1;
$cream: #e3e2b6;


//Fonts
$bodyFont: 'Quicksand', sans-serif;
